.entry-item {
	margin: .5rem;
	width: 19rem;
	border: 1px solid var(--accent-1)
}

.entry-main {
	align-items: flex-start;
	border-radius: 4px;
}

.entry-main p {
	font-size: .8rem;
	margin: .1rem;
	padding: .2rem;
}

.category {
	padding: .2rem;
	width: 100%;
	border-bottom: 1px solid var(--accent-1)
}

.main-content-ctr {
	width: 100%;
}

.main-content {
	width: 50%;
	text-align: center;
	padding: 0rem .5rem;
}

.CRUD button {
	color: black;
	background-color: white;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.CRUD button:hover {
	color: var(--main);
}

@media (max-width: 600px) {
	td {
		max-width: 8rem;
		word-wrap: break-word;
	}
}

@media (min-width: 600px) {

	.CRUD button,
	.entry-item p {
		font-size: .9rem;
		margin: .1rem;
	}

	.entry-item {
		width: 100%;
	}

	td {
		max-width: 10rem;
		word-wrap: break-word;
	}
}