.CRUD-btn {
	padding: .4rem;
	margin: .4rem;
	border: none;
	background-color: var(--white);
	cursor: pointer;
}

.CRUD-btn:hover {
	color: red;
}

@media (max-width: 600px) {
	td {
		max-width: 8rem;
		word-wrap: break-word;
	}
}

@media (min-width: 600px) {

	.CRUD button,
	.entry-item p {
		font-size: .9rem;
		margin: .1rem;
	}

	.entry-item {
		width: 100%;
	}

	td {
		max-width: 10rem;
		word-wrap: break-word;
	}
}