.table {
	border: 1px solid var(--accent-1);
	margin: 1rem;
	width: 22rem;
}

.table * {
	padding: .4rem;
	border: 1px solid var(--accent-1);
	margin: 0rem;
	width: 5rem;
}

.table td {
	font-size: .9rem;
}

@media (min-width: 450px) {
	.table{
		width: 85%;
	}

}

@media (max-width: 450px) {
	.table td {
		font-size: .6rem;
		padding: .3rem;
	}
}