.income-form-ctr {
	margin-top: 2rem;
	width: 18rem;
	padding: .8rem 0rem;
	align-items: center;
}

.income-form {
	justify-content: space-evenly;
}

.income-form input {
	width: 7.5rem;
	margin: .2rem;
}

.income-form-ctr .income-submit {
	width: 15.4rem;
	background-color: var(--accent-2)
}

@media (min-width: 600px) {
	h4 {
		font-size: 1.5rem;
	}

	.income-form-ctr {
		width: 32rem;
	}

	.income-form input {
		width: 12rem;
		margin: .5rem 1rem;
	}

	.income-form-ctr .income-submit {
		width: 26rem;
	}

}