.daily {
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.daily-main {
	align-items: center;
}

.day-header {
	justify-content: center;
	align-items: center;
	padding-top: .5rem;
}

h1 {
	margin: .4rem;
}

.day-toggle img {
	height: 1.5rem;
}

.day-toggle {
	height: 2.5rem;
	border-radius: .5rem;
	margin: .8rem;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
	cursor: pointer;
}

.todayBtn:active,
.day-toggle:active {
	box-shadow: none;
	transform: translateY(3px);
}

.todayBtn {
	padding: .3rem 2rem;
	box-shadow: 2px 2px 2px rgb(85, 85, 85);
	cursor: pointer;
}

.day-header div {
	width: 13rem;
}

.add-entry {
	margin: 1rem;
	width: 19rem;
}

.show-entries {
	align-items: center;
}

.daily-total {
	background-color: var(--accent-3);
	width: 19rem;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.daily-total p{
	width: 50%;
	text-align: right;
	padding: .2rem; 
}

@media (max-width: 400px) {
	h1 {
		font-size: 1.5rem;
	}

	.day-toggle img {
		height: 1.6rem;
	}

	.day-toggle {
		height: 2.5rem;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 600px) {
	.day-header {
		width: 100%;
	}

	.day-header div {
		width: 18rem;
	}
	
	.add-entry,
	.show-entries,
	.daily-total {
		width: 25rem;
	}
}